.monster-table {
	&--source-name {
		&__short {
			display: inline;
		}

		&__long {
			display: none;
		}

		@media (min-width: 768px) {
			&__short {
				display: none;
			}

			&__long {
				display: inline;
			}
		}
	}
}
